body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: hsl(225, 100%, 94%) url("../images/pattern-background-desktop.svg") repeat-x center 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}

.card {
    background-color: white;
    max-width: 440px;
    border-radius: 1rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

.illustration {
    max-width: 440px;
    border-radius: 1rem 1rem 0 0;
}

.container {
    margin: 2rem 3rem 1.5rem 3rem;
}

.card-title {
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    font-weight: 900;
}

.card-description {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    line-height: 1.5rem;
}

.card-plan {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
}

.card-plan-description {
    display: flex;
    align-items: center;
}

.card-plan-text {
    margin-left: 1rem;
}

.card-plan-image {
    display: flex;
}

.music-icon {
    max-width: 2.8rem;
}

.card-plan-text span {
    color: hsl(223, 47%, 23%);
    font-size: 16px;
    font-weight: 900;
}

.card-plan-price {
    margin: 0.3rem 0 0 0;
    color: hsl(224, 23%, 55%);
    font-weight: 400;
}

a {
    font-weight: 700;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
    color: rgba(56, 40, 224, 0.8);
}

.btn {
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 0.6rem;
    font-weight: 900;
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer;
    font-size: 14px;
}

.payment-btn {
    margin-top: 2rem;
    background-color: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 94%);
    box-shadow: 0 5px 15px 1px rgba(56, 40, 224, 0.4);
}

.payment-btn:hover{
    background-color: rgba(56, 40, 224, 0.8);
}

.cancel-btn{
    margin-top: 1rem;
    color: hsl(224, 23%, 55%);
    background-color: white;
}

.cancel-btn:hover {
    color: black;
}

@media (max-width: 450px){
    .card {
        max-width: 350px;
    }
    .illustration {
        max-width: 350px;
    }
    .card-plan {
        padding: 0.7rem;
    }
}